/* estilos generales */
body {
  background-color: #f08080; }

/* estilos header index */
h2 {
  color: blueviolet;
  text-align: left;
  text-transform: uppercase;
  padding: 15px;
  margin: 10px; }

.logo {
  position: absolute;
  top: 10px;
  right: 500px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end; }
  .logo .contenedor {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end; }
    .logo .contenedor a {
      text-decoration: none;
      color: pink; }
      .logo .contenedor a .recuadro {
        background-color: blueviolet;
        padding: 5px;
        margin: 5px; }

/* estilos main index */
.grid {
  height: 300px;
  display: grid;
  grid-template-columns: 60% auto;
  column-gap: 20px; }
  .grid .imagenPortada {
    position: relative;
    top: 50px;
    left: 15px; }
    .grid .imagenPortada .texto1 {
      display: grid;
      grid-template-columns: auto 40%;
      margin-top: 230px;
      color: blue; }
      .grid .imagenPortada .texto1 .link {
        display: grid;
        grid-template-columns: auto 40%;
        justify-self: right;
        color: pink;
        margin-top: 73px;
        margin-right: 425px; }

/* estilos footer index */
h5 {
  height: 100vh;
  padding-left: 0px;
  padding-top: 450px;
  margin: 5px; }

/* media queries */
@media only screen and (max-width: 1024px) and (min-width: 320px) {
  .logo {
    top: 20px;
    right: 50px; }
  .grid {
    grid-template-columns: auto;
    grid-template-columns: auto; }
  .picture {
    grid-template-columns: auto;
    grid-template-columns: auto;
    grid-template-columns: auto; } }

@media screen and (min-width: 320px) {
  .logo {
    top: 20px;
    right: 50px; }
  .grid {
    grid-template-columns: auto;
    grid-template-columns: auto; }
  .picture {
    grid-template-columns: auto;
    grid-template-columns: auto;
    grid-template-columns: auto; } }

/* mapas de color */
/* funcion del color */
h2 {
  text-align: left;
  text-transform: uppercase;
  padding: 15px;
  margin: 10px; }

.contenedor, .logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end; }

h2 {
  color: blueviolet; }

.logo {
  position: absolute;
  top: 10px;
  right: 500px; }
